
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap');


*{
	font-family: 'Noto Serif KR','굴림'
	/* 폰트를 설정하는 방법 입니다. */
}
.p1_size1 {
	font-size: xx-small;
}
.p1_size2 {
	font-size: medium;
}
.p1_size3 {
	font-size: xx-large;
}
.p1_size4 {
	/* font-size: 20px; */
	font-size: 4em;/* 부모요소의 비율 기준의 배율이다. */
}
.p1_size5{
	font-size: 1.5em;
	/* 부모요소의 배율 */
}

.p1_size6{
	font-size: 1.5rem;
	/* 최상위요소의 배율 */
}
.p1_weight1 {
	font-weight: 100;
}
.p1_weight2 {
	font-weight: 400;
}
.p1_weight3 {
	font-weight: 900;
}