.tran {
	text-transform: capitalize;
	text-transform: uppercase;
	/* 대문자 변환 */
 	text-transform: lowercase;
	/* 소문자 변환 */
}
.spacing {
	letter-spacing: 3em;
}
.w_spacing {
	word-spacing: 3em;
}
.shadow {
	text-shadow: -5px -5px 5px #555555;
	/* 첫번째 px은 가로 두번째 세로 세번째는 그림자의 크기. */
}