.deco {
	text-decoration: none;
	text-decoration: underline;
	text-decoration: line-through;
}
.height {
	line-height: 2em;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
	background-color: cadetblue;
	line-height: 300px;
	width: 100%;
}